<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Caculadora 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked" class="espacinhoEmbaixo" color="danger"><span>Operação</span></ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><span>Resultado: </span></ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button color="dark" expand="full">MC</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="dark" expand="full">MR</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="dark" expand="full">M+</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="dark" expand="full">M-</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="dark" expand="full">MS</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="dark" expand="full"> 
          M
          <ion-icon name="caret-down-outline"></ion-icon> 
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- começo linha 2 e 3 -->
    <ion-row>
      <ion-col size="3">
        <ion-button color="dark" expand="block">%</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="dark" expand="block">CE</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="dark" expand="block">C</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="dark" expand="block">
          <ion-icon name="backspace-outline" size="small"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="dark" expand="block">¹/×</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="dark" expand="block">×²</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="dark" expand="block">²√×</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="dark" expand="block">÷</ion-button>
      </ion-col>
    </ion-row>
    <!-- começo linha 4 e 5 -->
    <ion-row>
      <ion-col size="3">
        <ion-button color="medium" expand="block">7</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium" expand="block">8</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium" expand="block">9</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="dark" expand="block">
          <ion-icon name="close-outline" size="small"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium" expand="block">4</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium" expand="block">5</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium" expand="block">6</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="dark" expand="block">
          <ion-icon name="remove-outline" size="small"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- começo linha 6 e 7 -->
    <ion-row>
      <ion-col size="3">
        <ion-button color="medium" expand="block">1</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium" expand="block">2</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium" expand="block">3</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="dark" expand="block">
          <ion-icon name="add-outline" size="small"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium" expand="block">+/_</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium" expand="block">0</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium" expand="block">,</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="danger" expand="block">
          <ion-icon name="reorder-two-outline" size="small"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>